<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evilve.blog.mapper.TypeMapper">
    <resultMap id="typeMapper" type="type">
        <id column="tid" property="id"></id>
        <collection property="blogs" ofType="blog">

        </collection>
    </resultMap>
    <select id="getTypes" resultMap="typeMapper">
        SELECT t.id tid,t.name,b.*
        FROM t_type t
        JOIN t_blog b
        ON b.t_id=t.id
        <if test="currentPage!=null and pageSize!=null">
            Limit #{currentPage},#{pageSize}
        </if>
    </select>

    <select id="leftTypes" resultMap="typeMapper">
        SELECT t.id tid,t.name,b.*
        FROM t_type t
        LEFT JOIN t_blog b
        ON b.t_id=t.id
        <if test="currentPage!=null and pageSize!=null">
            Limit #{currentPage},#{pageSize}
        </if>
    </select>

</mapper>
